:root {
    --primary-1: hsl(179, 62%, 43%);
    --primary-2: hsl(179, 47%, 51%);
    --primary-3: hsl(71, 73%, 54%);

    --neutral-1: hsl(204, 43%, 93%);
    --neutral-2: hsl(218, 22%, 67%);

    --white: #fff;

}